body{
    background-color: none;
    font-family: 'Montserrat', sans-serif;

    color: #595959;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word 
}

h1, h2, h3, h4{
    color: black;
}

h1{
    padding-top: 8px;
    padding-bottom: 12px;
    color: black;
    font-size: 45px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 55px;
    word-wrap: break-word 
}

h3{
    padding-top: 40px;
    padding-bottom: 8px;
    color: black;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 27px;
    word-wrap: break-word 
}

h4{
    padding-top: 8px;
    color: black;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 20px;
    word-wrap: break-word 
}

.wrapper{
    background-color: white;
    margin: 40px;
    display: flex;
    flex-direction: row-reverse;
}

.description{
    background-color: none;
    padding-left: 88px;
    padding-top: 80px;
    padding-right: 40px;
}

.side{
    background-color: #E0EBFE;
    height: 1320px;
}

.userPhoto{
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 370px;
    max-height: 370px;
    min-width: 256px;
    min-height: 256px;
}

.menu{
    padding-left: 40px;
}

.menu div{
    padding-top: 20px;
    padding-bottom: 20px;
}

.description p{
    color: gray;
}

.description ul, li{
    color: #595959;
}

.tel p, .mail p{

    color: #161D2A;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px; 
}

.tel a, .mail a{
color:#595959
}

.side{
    color: #161D2A;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word    
}

li{
    margin-left: 16px;
}

.date{
    color: #A8A8A8;
font-size: 12px;
font-family: Montserrat;
font-weight: 400;
word-wrap: break-word 
}